html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}

@media (min-width: 550px) {
  html {
    font-size: 75%;
  }
}

section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] big {
  font-size: large;
}

#tablepl td {
  text-overflow: ellipsis;
}

#tablepl td:hover {
  text-overflow: initial;
}

section:before,
section:after {
  content: "";
  display: table;
  clear: both
}

header.h5 {
  color: #000!important;
  background-color: #f1f1f1!important
}

#player img {
  width: 200px;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  top: 30px;
  font-size: 17px;
}

#songinfo {
  visibility: hidden;
  min-width: 300px;
  background-color: #555;
  color: #fff;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
}

.selected {
  background: rgb(29, 226, 95)
}

#songinfo.show,
#toast.show {
  visibility: visible;
}

#pl-data tr:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

@media (min-width: 550px) {
  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .box .controls {
    flex: 0 1 auto;
  }
  .box .content {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  .box footer {
    flex: 0 1 40px;
  }
  #player img {
    width: 100px;
  }
}

.toolbar .columns {
  margin: 1px;
}

.bordered {
  border: 5px outset;
}