html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}

@media (min-width: 35rem) {
  html {
    font-size: 75%;
  }
}

section {
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12)
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] big {
  font-size: large;
  padding: 0 1rem;
}

#tablepl td {
  text-overflow: ellipsis;
}

#tablepl td:hover {
  text-overflow: initial;
}

section:before,
section:after {
  content: "";
  display: table;
  clear: both
}

header.h5 {
  color: #000!important;
  background-color: #f1f1f1!important
}

#player img {
  min-width: 20rem;
  max-width: 20rem;
}

#volume {
  margin: 0;
  width: 9.8rem;
}

.center {
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 25rem;
  margin-left: -12.5rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  right: 3rem;
  top: 3rem;
  font-size: 1.7rem;
}

#songinfo,
#setup {
  visibility: hidden;
  min-width: 30rem;
  background-color: #555;
  color: #fff;
  border-radius: .2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
}

.selected {
  background: rgb(29, 226, 95)
}

#songinfo.show,
#toast.show {
  visibility: visible;
}

#pl-data tr:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

@media (min-width: 35rem) {
  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .box .controls {
    flex: 0 1 auto;
  }
  .box .content {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  .box footer {
    flex: 0 1 4rem;
  }
  #player img {
    min-width: 10rem;
    max-width: 10rem;
  }
}

.toolbar {
  margin: .1rem;
}

.bordered {
  border: .5rem outset;
}