<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.caselli.ovoplayer"
    version     = "1.0.0" >

  <name>Ovoplayer remote</name>
  <icon src="asset/logo.png" />
  <platform name="android" />
  <description>
      A simple remote for Ovoplayer
  </description>

  <author href="https://ovoplayer.altervista.org" email="marcocas@gmail.com">
      Marco Caselli
  </author>

</widget>